<div>Holaaa</div>


{% schema %}
  {
    "name": "bundle suscription",
    "tag": "section",
    "class": "container-bundle-suscription",
    "limit": 1,
    "blocks": [
      {
        "type": "product",
        "name": "Product List",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "bundle suscription"
      }
    ]


  }
{% endschema %}