<div>
  
  {% render 'heading', 
        first-title: section.blocks[0].settings.text_1,
        second-title: section.blocks[1].settings.text_2,
        
      %}
      <p class="paragraph-section">{{section.blocks[2].settings.paragraph}}</p>

  <div class="container-image-outstanding">
    <div>
      <img  src="{{section.blocks[3].settings.image_1 | img_url: 'grande'}}" alt="">

    </div>
    <div>
      <img  src="{{section.blocks[4].settings.image_2 | img_url: 'grande'}}" alt="">

    </div>
  </div>
  <div class="acerill-custom-form" data-form-id="2466e75c-8ee2-489f-9598-ddf7ebd8a71e"></div>
</div>

<script type="text/javascript" src="https://custom-forms-client.acerill.com/js/custom-forms-v2.js" defer></script>
{% schema %}
  {
    "name": "outstanding",
    "tag": "section",
    "class": "container-outstanding",
    "limit": 1,
    "blocks": [
      {
        "name": "Title #1",
        "type": "title_1",
        "settings": [
          {
            "type": "text",
            "id": "text_1",
            "label": "Texto numero uno"
          }
        ]
      },
      {
        "name": "Title #2",
        "type": "title_2",
        "settings": [
          {
            "type": "text",
            "id": "text_2",
            "label": "Texto numero dos"
          }
        ]
      },
      {
        "name": "Paragraph",
        "type": "paragraph",
        "settings": [
          {
            "type": "text",
            "id": "paragraph",
            "label": "Parrafo"
          }
        ]
      },
      {
        "name": "Image #1",
        "type": "image_1",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Imagen uno"
          }
        ]
      },
      {
        "name": "Image #2",
        "type": "image_2",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Imagen dos"
          }
        ]
      }
    ]

  }
{% endschema %}
