<div>
  {% for block in section.blocks %}
    {% if block.type == 'gruop_text' %}
      {% render 'heading' 
        , first-title: block.settings.text_1,
        second-title: block.settings.text_2 %}
      <p class="paragraph-section">{{ block.settings.paragraph }}</p>
    {% endif %}
  {% endfor %}

  <div class="container__card-product">
    {% for block in section.blocks %}
      {% if block.type == 'product' %}
          {% render 'card-product',product:block.settings.product %}
      {% endif %}
    {% endfor %}
  </div>
</div>



{% schema %}
  {
    "name": "product-star",
    "tag": "section",
    "class": "container-product-star",
    "limit": 1,
    "blocks": [
      {
        "name": "Gruop Text",
        "type": "gruop_text",
        "settings": [
          {
            "type": "text",
            "id": "text_1",
            "label": "Texto numero uno"
          }, {

            "type": "text",
            "id": "text_2",
            "label": "Texto numero dos"

          }, {
            "type": "text",
            "id": "paragraph",
            "label": "Parrafo"
          }
        ]
      },
      {
      "type": "product",
      "name": "Product List",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
    ]

  }
{% endschema %}