@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Karla:wght@300;400;500;600;700;800&family=Lora&family=Mulish&display=swap');

:root {
  --color-primary: #ca9376;
  --bg-black: #0c0c0c;
  --text-black: #4c4c4c;
  --text-secondary: #ff5e33;
  --black: #000;
  --white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
  scroll-behavior: smooth;
  font-family: 'Karla', sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  min-width: 150px;
  max-width: 264px;
  object-fit: contain;
}

.header__group-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__group-icons div svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.header__group-icons__cart {
  position: relative;
}

.header__group-icons__cart span {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--color-primary);
  border-radius: 50%;
  top: -2px;
  left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 0.8rem;
}
.navigation-mobile {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.navigation-mobile__sadibar {
  width: 253px;
  height: 100vh;
  background-color: var(--bg-black);
  overflow-y: auto;
}
.sadibar__container-input {
  padding: 10px;
  border-bottom: 2px solid rgba(92, 92, 92, 0.43);
}

.sadibar__container-input div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  font-family: 'Karla', sans-serif;
  padding: 14px 50px 18px 14px;
  font-size: 14px;
  background-color: #252525;
}
.sadibar__container-input div input {
  background-color: transparent;
  border: 0;
  outline: none;
  color: var(--white);
  width: 100%;
}

#input-search::placeholder {
  color: var(--white);
}
.sadibar__container-input div svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 10px;
}

.sadibar__navigation li {
  list-style: none;
}
.sadibar__navigation li a {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 26px;
  overflow-x: hidden;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(92, 92, 92, 0.23);
  text-decoration: none;
}

/* UTILS */
.text-primary {
  color: var(--color-primary) !important;
}
.text-secondary {
  color: var(--text-secondary) !important;
}
