@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Karla:wght@300;400;500;600;700;800&family=Lora&family=Mulish&display=swap');

/* ****** Custom Properties ******* */
:root {
  --color-primary: #ca9376;
  --bg-black: #0c0c0c;
  --text-black: #4c4c4c;
  --text-black-two: #252222;
  --text-secondary: #ff5e33;
  --black: #000;
  --white: #fff;
  --font-karla: 'Karla', sans-serif;
  --font-dm: 'DM Serif Text', serif;
  --font-serif: serif;
  --font-lora: 'Lora', serif;
  --font-mulish: 'Mulish', sans-serif;
}
/* ****** Reset ******* */
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: 'Karla', sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  overflow-x: hidden;
  margin: 0;
  color: var(--black);
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  margin: 0;
}
h2 {
  font-size: 3.4rem;
  margin: 0;
}
h3 {
  font-size: 2rem;
  margin: 0;
}
h4 {
  font-size: 1.5rem;
  margin: 0;
}
h5 {
  font-size: 1.2rem;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
p {
  font-size: 1rem;
  margin: 0;
  line-height: 1.6;
}

ul {
  padding: 0;
  margin: 0;
}
/* ****** Components ******* */

/* ****** Utilities ******* */
.text-primary {
  color: var(--color-primary) !important;
}
.text-secondary {
  color: var(--text-secondary) !important;
}

.align-start {
  align-items: flex-start !important;
}
.justify-content {
  justify-content: flex-start !important;
}
.left {
  text-align: left !important;
}

/* ****** Site Styles ******* */

@media screen and (min-width: 768px) {
  /* utilist */
  .orientation-right {
    flex-direction: row-reverse !important;
  }
}

@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1280px) {
}
