{{ 'css-collection.css' | asset_url | stylesheet_tag }}
<div class="container-collection-page">
  <div class="collection-page">
    <img src="https://santorini.com.co/wp-content/uploads/2023/11/BANNER-CATEGORIA-TENIS-scaled.jpg"/>
  <div class="container__card-product">
    {% for product in collection.products %}
      {% render 'card-product'
          , product: product %}
    {% endfor %}

  </div>
  </div>
</div>
